# Core Application Profile
SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=9090

# PostgreSQL Cluster Access
DB_NAME=DB_NAME
DB_USER=DB_USER
DB_PASSWORD=DB_PASS
SPRING_DATASOURCE_URL=DB_DRIVER

# Redis Cache Engine
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT

# JWT Cryptographic Keys
JWT_SECRET_KEY=JWT_SEC_KEY
JWT_EXPIRATION_MS=0000000

# Google OAuth2 SSO
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_ID=your_real_google_client_id
SPRING_SECURITY_OAUTH2_CLIENT_REGISTRATION_GOOGLE_CLIENT_SECRET=your_real_google_client_secret